table {
  width: 800px;
  /* height: 300px; */
  border-collapse: collapse;
}

thead tr th {
  background-color: blue;
  border: 1px solid white;
  text-align: center;
  color: white;
  height: 30px;
  font-family: sans-serif;
}

tbody {
  height: 200px;
  background-color: rgb(196, 198, 199);
  font-family: sans-serif;
}

tbody tr th {
  height: 20px;
  border-right: 1px solid white;
}

thead th:first-child {
  width: 15%;
}
thead th:first-child + th {
  width: 55%;
}
