.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.column {
  display: flex;
}
